Django==4.2.3
Pillow==10.0.0
djangorestframework==3.14.0
psycopg2-binary==2.9.6
django-ckeditor==6.6.1
django-filter==23.2
djoser==2.2.0
djangorestframework-simplejwt==5.2.2
drf-yasg==1.21.6
django-rest-framework-social-oauth2==1.1.0
django-cors-headers==4.2.0